@media (min-width: 320px) and (max-width: 700px) {




.header {
	grid-template-columns: 1fr;
	grid-gap:  30px;
	justify-items: center;
}


.headerMenu {
	justify-items: center;
	justify-content: space-evenly;
}

.heroTextWrapper * {
	color: var(--secondaryColor);
}

.heroTextWrapper {
	grid-column: 1 / -1;
	grid-row: 1;
}

.heroBg {
	height: 280px;
	grid-row: 2;
}

.heroSection::after {
	background-color: transparent;
}

.claims {
	grid-template-columns: 1fr;
}

}