

:root {
	--h1Size: clamp(1.8rem, 3.3vw, 3.4rem);
	--h2Size: clamp(1.5rem, 2.5vw, 2.8rem);
	--h3Size: clamp(1.3rem, 2.2vw, 2.5rem);
	--h4Size: clamp(1.2rem, 2vw, 2rem);
	--h5Size: clamp(1.1rem, 1.8vw, 1.7rem);
	--pSize: clamp(1.1rem, 1.5vw, 1.3rem);
	--spanSize: clamp(1rem, 1.3vw, 1rem);

	--thin: 100;
	--light: 300;
	--regular: 400;
	--medium: 500;
	--bold: 700;
	--extra-bold: 800;
	--black: 900;

	--f1: #FFFFFF;
	--primaryColor: #BE2623;
	--secondaryColor: #0E3746;
	--darkGrayColor: #0E3746;
	--mediumGrayColor: #ABA9BC;
	--lightGrayColor: #D4D4CE;
	--extraLightGrayColor: #F6F6F6;
	--lightBlueColor: #00a8cc;
	--orangeColor: #ff7853;
	--greenColor: #45ba45;
}

html{scroll-behavior:smooth}
div,p,h1,h2,h3,h4,h5,a,input,button,section,ul,li,footer,a{font-family:'Heebo',sans-serif;margin:0;padding:0;position:relative;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-transition:.5s ease all;-o-transition:.5s ease all;transition:.5s ease all;outline:none;border:none}
.content{width:clamp(320px,100%,2000px);overflow:hidden;position:relative;-webkit-box-sizing:border-box;box-sizing:border-box;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-flow:column;flex-flow:column;margin:0 auto}
.block{display:block;position:relative;-webkit-box-sizing:border-box;box-sizing:border-box}
.flex{display:-webkit-box;display:-ms-flexbox;display:flex;position:relative;-webkit-box-sizing:border-box;box-sizing:border-box}
.grid{display:-ms-grid;display:grid;position:relative;-webkit-box-sizing:border-box;box-sizing:border-box}
.cover{-o-object-fit:cover;object-fit:cover}
amp-img.contain img{-o-object-fit:contain;object-fit:contain}
amp-img.cover img{-o-object-fit:cover;object-fit:cover}
.heroTextWrapper *{color:var(--f1)}
a{text-decoration:none;display:block;cursor:pointer;pointer-events:all}
.shadow-6{-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.11),0 2px 2px rgba(0,0,0,0.11),0 4px 4px rgba(0,0,0,0.11),0 8px 8px rgba(0,0,0,0.11),0 16px 16px rgba(0,0,0,0.11),0 32px 32px rgba(0,0,0,0.11);box-shadow:0 1px 1px rgba(0,0,0,0.11),0 2px 2px rgba(0,0,0,0.11),0 4px 4px rgba(0,0,0,0.11),0 8px 8px rgba(0,0,0,0.11),0 16px 16px rgba(0,0,0,0.11),0 32px 32px rgba(0,0,0,0.11)}
h1{font-size:var(--h1Size);display:block;position:relative;-webkit-box-sizing:border-box;box-sizing:border-box;color:var(--secondaryColor)}
h2{font-size:var(--h2Size);display:block;position:relative;-webkit-box-sizing:border-box;box-sizing:border-box;color:var(--secondaryColor)}
h3{font-size:var(--h3Size);display:block;position:relative;-webkit-box-sizing:border-box;box-sizing:border-box;color:var(--secondaryColor)}
h4{font-size:var(--h4Size);display:block;position:relative;-webkit-box-sizing:border-box;box-sizing:border-box;color:var(--secondaryColor)}
h5{font-size:var(--h5Size);display:block;position:relative;-webkit-box-sizing:border-box;box-sizing:border-box;color:var(--secondaryColor)}
p{font-size:var(--pSize);display:block;position:relative;-webkit-box-sizing:border-box;box-sizing:border-box;color:var(--secondaryColor)}
span{font-size:var(--spanSize);display:block;position:relative;-webkit-box-sizing:border-box;box-sizing:border-box;color:var(--secondaryColor)}
svg{display:block;-webkit-box-sizing:border-box;box-sizing:border-box;position:relative;pointer-events:none;-webkit-transition:.5s ease all;-o-transition:.5s ease all;transition:.5s ease all}
a:link{color:var(--primaryColor)}
a:visited{color:var(--primaryColor)}
a:active{color:var(--primaryColor)}
::-webkit-input-placeholder{color:var(--primaryColor);font-weight:var(--medium)}
::-moz-placeholder{color:var(--primaryColor);font-weight:var(--medium)}
:-ms-input-placeholder{color:var(--primaryColor);font-weight:var(--medium)}
::-ms-input-placeholder{color:var(--primaryColor);font-weight:var(--medium)}
::placeholder{color:var(--primaryColor);font-weight:var(--medium)}
:-ms-input-placeholder{color:var(--primaryColor);font-weight:var(--medium)}
::-ms-input-placeholder{color:var(--primaryColor);font-weight:var(--medium)}
::-moz-selection{background:var(--primaryColor);color:var(--white)}
::selection{background:var(--primaryColor);color:var(--white)}
::-moz-selection{background:var(--primaryColor);color:var(--white)}




